slides: [
  {
    img:"01-Title.svg"
    notes:"<h1>Intro</h1>
    <ul>
      <li>@garthdb</li>
      <li>Adobe</li>
      <li>PhoneGap</li>
      <li>Design Open</li>
    </ul>
    <h2>We are:</h2>
    <ul>
      <li>Story time</li>
      <li>Benefits of f/oss</li>
    </ul>"
  }
  {
    img:"02-Richard-Stallman.svg"
    notes:"<a href='http://oreilly.com/openbook/freedom/ch01.html'>Richard Stallman and the Printer</a>"
  }
  {
    img:"03-Printer-Gift.svg"
  }
  {
    img:"04-Printer-Frustration.svg"
  }
  {
    img:"05-Stallman-GNU.svg"
  }
  {
    img:"06-Freedom.svg"
  }
  {
    img:"07-Free-to.svg"
  }
  {
    img:"08-Linus-Torvalds.svg"
  }
  {
    img:"09-Linux.svg"
  }
  {
    img:"10-Many-eyes.svg"
  }
  {
    img:"11-Eric-Raymond.svg"
  }
  {
    img:"12-Cathedral-Bazaar.svg"
  }
  {
    img:"13-OSI.svg"
  }
  {
    img:"14-Git-and-GitHub.svg"
  }
  {
    img:"15-GitHub-Features.svg"
  }
  {
    img:"16-Why.svg"
  }
  {
    img:"17-MIT-Study.svg"
  }
  {
    img:"18-Academic-thinking.svg"
  }
  {
    img:"19-MIT-Quote.svg"
  }
  {
    img:"20-Feels.svg"
  }
  {
    img:"21-Drive.svg"
  }
  {
    img:"22-Group.svg"
  }
  {
    img:"23-For-the-love.svg"
  }
  {
    img:"24-Great-ideas-combine.svg"
  }
  {
    img:"25-Connected-mind.svg"
  }
  {
    img:"26-What-about-design.svg"
  }
  {
    img:"27-Problem-Solving.svg"
  }
  {
    img:"28-Lift-together.svg"
  }
  {
    img:"29-MOAR-IDEAS.svg"
  }
  {
    img:"30-I-can-get-some-statisfaction.svg"
  }
  {
    img:"31-How-do-we-do-it.svg"
  }
  {
    img:"32-Share-the-process.svg"
  }
  {
    img:"33-Share-the-source.svg"
  }
  {
    img:"34-Use-code-as-a-design-tool.svg"
  }
  {
    img:"35-Collaborate.svg"
  }
  {
    img:"36-Donate.svg"
  }
  {
    img:"37-Contribute.svg"
  }
  {
    img:"38-Shameless-plugs.svg"
  }
  {
    img:"39-Obstacles.svg"
  }
  {
    img:"40-Fix-it.svg"
  }
  {
    img:"41-A-humble-manifesto.svg"
  }
  {
    img:"42-logo.svg"
  }
  {
    img:"43-Designers-Should-Open-Source.svg"
  }
]
